*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div{
  background-color: rgb(40, 90, 50);
  border: 5px solid white;
  height: 300px;
  width: 300px;
}
button{
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  background-color: crimson;
  border: none;
}

button:active{
  scale: 0.95;
}