*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
h1{
  color: white;
  font-size: 100px;
 
}
button{
  padding: 10px 35px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 6px;
  background-color: crimson;
  color: white;
}
button:active{
  scale : 0.95;
}