*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#page{
  height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;

  text-align: center;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  gap: 10px;
}

h1{
  margin-bottom: 20px;
}
.username{
  padding: 10px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
 
}
.password{
  width: 240px;
  padding: 10px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
}

#login{
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(7, 7, 194);
  border-radius:5px ;
  cursor: pointer;
}
button:active{
  scale: 0.95;
}
#show{
  padding: 5px 10px;
  border: none;
}

