*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}


p{
  font-size: 30px;
  color: rgb(8, 196, 8);
  text-align: center;

}

:root{
  --x : 400px;
  --y : 400px
}

.box{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}