*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
body{
  background: url(https://images.pexels.com/photos/34908249/pexels-photo-34908249.jpeg);
  background-size: cover;
  background-position: bottom;
}
:root{
  --x : 400px;
  --y : 400px
}

#box{
  height: 100%;
  width: 100%;
  background: radial-gradient( 140px at var(--x) var(--y), rgba(255, 255, 255, 0)90%,rgba(16, 16, 16, 0.886))
}
