*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body{
  background: #111;

}
main{
  height: 100%;
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
}
div{
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid rgb(0, 68, 0);
  box-shadow:  0 0 600px rgb(221, 182, 182);
  
}
button{
  padding: 10px 20px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
}
button:active{
  scale:0.90;

}
button:hover{
opacity: 0.9;
cursor: pointer;
transition: all ;
}