*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div{
  background-color: crimson;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}
button{
  padding: 10px 30px;
  background-color: rgb(231, 33, 33);
  border: none;
  border-radius: 5px;
}
button:active{
  scale:0.95;
}
h1,h2,h3{
  font-size: 40px;
}